* {
    background-color: gray;
}

.grid {
    display: flex;
    background-color: aliceblue;
    padding: 25px;
    border: 5px solid white;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.grid div {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    flex: 1 1 auto;
}