* {
    background-color: rgb(143, 193, 223);
}

#everythingDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}

h1 {
    font-size: 40px;
    align-items: center;
    color: rgb(0, 0, 100);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 0px;
    border: 5px solid rgb(0, 0, 100);
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


#buttonContainer, #nameOfTheGame {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px 100px;
}

#buttonContainer button {
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 100);
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#colorPicker {
    border-radius: 15px;
    background-color: white;
    border: 1px solid white;
    inline-size: 30px;
    block-size: 30px;
    margin-left: 15px;
}