* {
    background-color: rgb(182, 180, 180);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 0px;
    border: 5px solid white;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}


#buttonContainer, #nameOfTheGame {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px 100px;
}

#buttonContainer button {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}